<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\novo.css">
</head>

<body>

    <nav>
    
            <h1 class="y">Connected Word</h1>
            <a class="a" href="{{ url_for('criar_conta') }}">Criar Nova Conta</a>
</nav>


   
    <div class="principal">
      <div class="subprincipal">
            <h1 class="h1">Encontre sua conta</h1>
            <hr>
            <p>Insira seu email ou numero de celular para procurar sua conta</p>
      
        <div class="input">
            <form class="f"><input class="input2" type="text" placeholder="email ou telefone"required> 
        </div>
        <hr>
        
            <input class="imput3" type="submit" value="pesquisar">

        </form>
        <input class="b" type="submit" value="cancelar"> 
         
    </div>
</div>
</nav>

</body>
</html>